@import "Base.css";
a { text-decoration: none; color: #696969; }
a:hover { text-decoration: underline; color: #696969; }
.clear { clear: both; }
/*----------------------------------top----------------------------------*/
.header { height: 50px; margin: 0 auto; background: #2553a0; }
.header .top { }
.header .top .logo { float: left; height: 39px;line-height:39px;padding-left: 46px; padding-top: 5px; width: 195px;background:url(../images/logo.png) no-repeat left center;color:#fff;font-weight:700;font-size:15px;}
.nav { float: left; }
.nav li { float: left; height: 50px; line-height: 50px; }
.nav li a { color: #FFFFFF; display: block; font-family: "Arial"; font-size: 16px; padding: 0 30px; }
.nav li a:hover { background: #3570d2; text-decoration: none; }
.seleli a { background: #3570d2; }
/*----------------------------------container-----------------------------*/

.container { height: auto !important; height: 850px; min-height: 850px; }
/*----------------------------------left----------------------------------*/
.leftbar { background: none repeat scroll 0 0 #FFFFFF; border-right: 1px solid #C8C7C7; float: left; height: auto !important; height: 800px; min-height: 800px; padding: 10px; width: 220px; }
.lm01 { padding-bottom: 15px; }
.peptx { float: left; width:80px;height:80px;}
.pepdet { float: left; padding-left: 10px; }
.pepdet p { line-height: 20px; width: 100%; }
.pepname { color: #000000; font-size: 16px; padding-bottom: 5px; font-family: "Microsoft YaHei"; }
.title { height: 35px; line-height: 35px; border-bottom: 1px dashed #C8C7C7; }
.detail {border-top: 1px dashed #C8C7C7; margin-top: 2px; padding: 5px; }
.lm02 .icon, .lm03 .icon { float: left; padding-right: 11px; padding-top: 11px; }
.lm02 h2, .lm03 h2 { float: left; font-size: 14px; }
/*----------------------------------mainbody-------------------------------*/
.mainbody { margin-left: 241px; }
.currmenu { background: url("../images/rignavbg.jpg") repeat-x scroll left top; height: 37px; }
.rig_nav li { float: left; line-height: 37px; border-right: 1px solid #DDDDDD; }
.rig_nav li a { font-size: 14px; height: 35px; line-height: 35px; padding: 0 25px; }
.rig_seleli span { background: none repeat scroll 0 0 #C8C7C7; color: #FFFFFF; margin-right: 8px; padding: 0 5px 1px 2px; cursor: pointer; }
.rig_seleli a { color: #638EC7; font-weight: bold; }
.adtip { background: none repeat scroll 0 0 #FFFFFF; border-bottom: 1px solid #C8C7C7; height: 82px; }
.goom { font-size: 14px !important; padding-bottom: 5px; }
.tip { float: left; padding: 15px; }
.tip p { font-size: 16px; line-height: 22px; }
.tip p span { color: #638EC7; font-size: 16px; font-weight: bold; padding: 0 5px; }
.adv { background: none repeat scroll 0 0 #FFEDBB; border: 1px solid #DCC074; float: right; height: 40px; line-height: 40px; margin-right: 20px; margin-top: 20px; padding: 0 16px; width: 450px; }
.adv p { float: left; }
.adv span { float: right; cursor: pointer; }
.rig_link { height: 73px; padding: 15px 20px 15px 15px; border-bottom: 1px solid #C8C7C7; }
.rig_link ul li { float: left; padding-right: 12px; }
.rig_lm01, .rig_lm02, .rig_lm03 { padding: 0 20px 0 15px; }
.rig_lm01 .icon, .rig_lm02 .icon, .rig_lm03 .icon { float: left; padding-right: 11px; padding-top: 11px; }
.rig_lm01 h2, .rig_lm02 h2, .rig_lm03 h2 { float: left; font-size: 14px; }
.red_numb { background: none repeat scroll 0 0 #DB6969; color: #FFFFFF; font-weight: bold; margin-left: 10px; padding: 1px 6px; }
.grey_numb { background: none repeat scroll 0 0 #bfbebe; color: #FFFFFF; font-weight: bold; margin-left: 10px; padding: 1px 6px; }
.rig_lm01 .dat01 { border: 1px solid #D5D5D5; height: 30px; padding: 8px 10px; margin-top: 10px; }
.rig_lm01 .dat02 { border: 1px solid #D5D5D5; border-top: none; height: 30px; padding: 8px 10px; margin-bottom: 10px; }
.dat01 span { float: left; }
.dat02 span { float: left; }
.sqdeta { font-size: 14px; line-height: 30px; padding-left: 25px; _margin-top: 10px; }
.sqdeta img { padding-right: 10px; }
.linkbut { float: right; line-height: 30px; }
.linkbut a { color: #1d79c7; padding: 0 8px; }
.datti span { color: #BBBBBB; font-size: 20px; font-weight: bold; }
.jan { font-size: 12px !important; font-weight: normal !important; padding-left: 2px; }
.jd { float: left; }
.jd img { margin-top: 10px; padding-left: 5px; }
.bs { float: left; padding-left: 22px; padding-top: 120px; padding-right: 30px; }
.bs p { padding-bottom: 5px; }
.scordeti { float: left; }
.scordeti ul li { border: 1px solid #DDDDDD; float: left; height: 130px; margin-right: 30px; *margin-right: 15px; margin-top: 28px; width: 155px; }
.scordeti ul li p { font-size: 30px; height: 90px; line-height: 90px; text-align: center; }
.ywc { color: #76bd42; }
.wwc { color: #f3a056; }
.ycd { color: #db6969; }
/********************切换tabmenu*************************/
.tabContainer { border: 1px solid #DDDDDD; height: 45px; line-height: 45px; margin-bottom: 2px; }
.tabContainer .tabHead { float: left; }
.shent { float: right; width: 165px; }
.tabContainer .tabHead li { border-right: 1px solid #DDDDDD; float: left; padding: 0 45px; }
.tabContainer .tabHead li a { color: #1D79C7; font-size: 14px; font-weight: bold; }
.currentBtn { border-top: 1px solid #333333; }
/********************切换tabmenu*************************/
.scordeti ul li h3 { background: none repeat scroll 0 0 #EFEFEF; color: #666666; font-size: 14px; font-weight: bold; height: 40px; line-height: 40px; text-align: center; }
.rig_lm02 .detail .det_inner { border: 1px solid #D5D5D5; height: 180px; margin-bottom: 10px; margin-top: 10px; }
.tabindex { border-collapse: collapse; }
.tabindex tr th { border-collapse: collapse; border: 1px solid #dddddd; text-align: center; padding: 12px 5px; }
.tabindex tr td { border: 1px solid #DDDDDD; border-collapse: collapse; padding: 12px 5px; text-align: center; }
.tabindex tr td.left{text-align:left!important;}
.czcol a { color: #1D79C7; }
.datacol { color: #1D79C7; }
.yccol { color: #ff0000; }
.greencol{color:#008000;}
.orangecolor{color:#ff7f50;}
.fanye { border: 1px solid #DDDDDD; height: 58px; margin: 2px 0 76px; }
.fytip { color: #666666; padding-left: 20px; float: left; line-height: 58px; }
.yem { float: right; margin-top: 20px; }
.yem ul li { float: left; }
.yem ul li a { border: 1px solid #DDDDDD; float: left; margin: 0 1px; padding: 3px 12px; }
.sellify { }
.sellify a { background: none repeat scroll 0 0 #676D71; color: #FFFFFF; }
.titlab { float: left; }
.xila { float: right; font-size: 8px; font-weight: normal; cursor: pointer; }
.shent span { float: left; }
.shent input { float: left; margin-left: 5px; margin-right: 20px; margin-top: 13px; }
.shent img { float: left; padding-top: 16px !important; }
.tabCot { _width: 99.7%; }
/*----------------------------------footer-----------------------------*/
/*----------------------------------public style------------------------*/
input.txt_input { width: 400px; height: 36px; border: 1px solid #cad2db; background: url(../images/txt_input_bg.gif) no-repeat; padding: 0 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; line-height: 36px; font-size: 14px; color: #717171; font-family: Arial; }
textarea.txt_area{width: 410px; height: 120px; line-height:1.5em; border: 1px solid #cad2db; background-color:#fff; padding: 0 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; line-height: 36px; font-size: 14px; color: #717171; font-family: Arial; overflow:hidden;}
input.txt_input:focus { transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,-moz-box-shadow linear .2s; -webkit-transition: border linear .2s,-webkit-box-shadow linear .2s; outline: none; border-color: rgba(173,173,173,.75); box-shadow: 0 0 8px rgba(173,173,173,.5); -moz-box-shadow: 0 0 8px rgba(173,173,173,.5); -webkit-box-shadow: 0 0 8px rgba(173,173,173,3); border: 1px solid #6192c8; }

input.sub_button { width: 122px; height: 32px; background: url(../images/site_bg.png) no-repeat -153px -850px; border: none; color: #FFF; padding-bottom: 2px; font-size: 14px; font-weight: bold; }
input.btn,input.cancel_button{height: 32px;padding:0px 20px; background-color:#37bc9b;border:solid 1px #37bc9b; border: none; color: #FFF; padding-bottom: 2px; font-size: 14px; font-weight: bold;border-radius:5px;cursor:pointer;}
input.cancel_button { background-color:#ccc;border-color:#ccc; }
input.sub_buttons { float: left; width: 122px; height: 32px; background: url(../images/site_bg.png) no-repeat -153px -850px; border: none; color: #FFF; padding-bottom: 2px; font-size: 14px; font-weight: bold; }
input.sub_buttons:hover { background-position: -153px -882px; cursor: pointer; }
input.sub_button:hover { background-position: -153px -882px; cursor: pointer; }

.innerbar{position:relative; width:770px;margin:0px auto;margin-top:30px;}
.innerlistbar{position:relative;min-width:770px; margin:0px auto;margin-top:30px;padding:0px 20px;}
ul.forms{overflow:hidden;*position:relative;}
ul.lower li{padding:5px!important;}
ul.lower li label,ul.lower li span{line-height:25px!important;}
ul.lower li label{height:25px!important;}
ul.forms li{width:100%;padding:10px;border-bottom:dashed 1px #e1e1e1;overflow:hidden;}
ul.forms li label{float:left;width:100px;height:38px;line-height:38px;}
ul.forms li span{position:relative;right:0px;line-height:38px;margin-left:100px;font-size:14px;}
ul.forms li label,ul.forms li span{display:block;}
ul.forms li .info{display:block;position:relative;right:0px;line-height:30px;margin-left:140px;font-size:12px;color:#c00;overflow:hidden;}
ul.forms li span.btnbar{float:left;position:static!important;width:120px;margin-left:0px!important;}
ul.forms li span em{margin-left:10px;font-style:normal;font-size:12px;color:#aaa;}
ul.forms li div.des{line-height:1.5em;border:solid 1px #e1e1e1;padding:5px;border-radius:3px;min-height:25px;max-height:300px;overflow:auto;background-color:#fff;}
ul.forms li div.des span,ul.forms li div.des label{display:inline!important;}

.photobar{position:absolute;top:0px;right:0px;width:116px;height:116px;background-color:#fff;border:solid 1px #e1e1e1;border-radius:3px;}
.photobar .thumb{width:72px;height:72px;padding:2px;margin:5px auto;margin-bottom:0px;overflow:hidden;}
.photobar .thumb img{width:72px;height:72px;}
.photobar .webuploader-pick{padding:1px 20px;}
.photobar .btnbar{width:100%;padding:5px 0px;text-align:center;}
.photobar p{font-size:12px;color:#aaa;}

.s_info{display:inline-block;padding:3px 10px;color:#fff;border-radius:3px;*display:inline;*zoom:1;}
dl.info-list{margin-top:20px;padding:10px 5px;overflow:hidden;}
dl.info-list dt{font-size:13px;font-weight:700;}
dl.info-list dd{padding:3px 0px;text-indent:2em;line-height:20px;}

/*试题列表*/
.question-header{position:fixed;top:0px;left:0px;width:100%;background-color:#fff;}
.question-header .question-wrapper{width:1024px;margin:0px auto;overflow:hidden;}
.question-header .question-wrapper h4{float:left;width:750px;height:40px;line-height:40px;padding:20px 0px}
.question-header .question-wrapper h4 label{cursor:default}
.question-header .question-wrapper .rightbar{position:relative;margin-left:750px;right:0px;}
.question-header .question-wrapper .rightbar .timebar,.question-header .question-wrapper .rightbar .namebar{height:40px;padding:20px 0px;}
.question-header .question-wrapper .rightbar .timebar{float:left;width:100px;padding:20px 15px;text-align:center;background-color:#37bc9b;}
.question-header .question-wrapper .rightbar .timebar p{color:#fff;}
.question-header .question-wrapper .rightbar .timebar p.timeinfo{text-align:center;font-size:20px;font-weight:700;}
.question-header .question-wrapper .rightbar .namebar{position:relative;margin-left:100px;right:0px;text-align:right;line-height:40px;font-size:14px;}
.question-list{width:1024px;margin:0px auto;font-size:14px!important;}
.question-list dl{padding:20px 0px;}
.question-list dl dt{padding:10px 0px;font-weight:700;}
.question-list dl dt p img{ max-width: 1024px;}
.question-list dl dd{padding:10px 0px;margin-bottom:10px;line-height:1.5em;text-indent:2em;border:solid 1px #fff;border-radius:5px;background-color:#fff;cursor:pointer;}
.question-list dl dd.selected{border-color:#37bc9b;}
.question-list dl dd input[type='radio'],.question-list dl dd label{vertical-align:middle;cursor:pointer}
.question-list dl dd label{margin-left:3px;}
.question-list dl dd span{line-height:30px;margin-right:5px;display:inline-block;margin-left:0px;text-indent:0;}
.question-list dl dd label.choice{display:inline-block;background-color:#37bc9b;text-align:center;text-indent:0px;padding-left:15px;padding-right:15px;color:#fff;cursor:default}

.questionpanel{position:fixed;top:90px;right:10px;width:260px;padding:20px 5px 20px 20px;background-color:#fff;border-radius:5px;overflow-y:auto;z-index:1;}
.questionpanel h3{position:relative;}
.questionpanel h3 a{right:0px;top:0px;display:block;width:16px;height:16px;position:absolute;background:url(../images/close.png) no-repeat center;}
a.zk{position:fixed;width:45px;height:45px;top:90px;right:10px;background:#37bc9b url(../images/left.png) no-repeat center;display:none;z-index:2;border-radius:5px;}
.questionpanel ul{height:250px;margin-top:10px;overflow-y:auto;}
.questionpanel ul li{float:left;width:35px;height:35px;line-height:35px;margin:10px 10px 0px 0px;border:solid 1px #e1e1e1;background-color:#f6f6f6;border-radius:3px;text-align:center;cursor:pointer;}
.questionpanel ul li.selected{background-color:#37bc9b;border:solid 1px #37bc9b;}
.questionpanel ul li.selected a{color:#fff;}
.question-list dl a,.questionpanel ul li a:hover{text-decoration:none;}
.questionpanel p{padding-top:20px;}
.questionpanel p b{font-size:16px;margin-right:5px;}
.questionpanel p b.do{color:#37bc9b;}
.questionpanel p b.undo{color:#c00;}