<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1024000"/>
    <!-- 修改为1000M -->
  </system.web>
  <connectionStrings>
    <!--<add name="EGovConnectionString" connectionString="Server=localhost;Database=Exam;Trusted_Connection=True;"/>-->
    
    <add name="EGovConnectionString" connectionString="Password=project_2016;Persist Security Info=True;User ID=ProjectManager;Initial Catalog=db_ExamSchool;Data Source=116.55.246.178,1533" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
